.bracketButton {
    position: relative;
    letter-spacing: 0.05rem;
    transition: 0.1s all;

    &::after, &::before {
        transition: 0.1s all;
        height: 100%;
        width: 2px;
        position: absolute;
        content: '';
        opacity: 0;
        border: 1px solid black;
    }

    &::after {
        border-left: 1px solid transparent;
        right: -10px;
        transform: scale(1.2) translateX(10px);
    }

    &::before {
        border-right: 1px solid transparent;
        left: -10px;
        transform: scale(1.2) translateX(-10px);
    }

    &:hover {
        &::after, &::before {
            opacity: 1;
            transform: translateX(0) scale(1);
        }
    }
}

.Navbar {
    border-bottom: 1px solid black;
    padding: 5px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.125);

    h1 {
        padding-left: 0.5rem;

        font-size: 1.5rem;
    }

    div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: min(55%, 250px);
        padding-right: 2rem;
        font-size: min(0.8rem, 3vw);

        .navLink {
            text-decoration: none;
            color: black;
            text-transform: uppercase;

            &:visited {
                color: black;
            }
        }
    }
}