.userDirectory {
    padding: 1rem;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 43px);
}

.userDirectoryContent {
    border: 1px solid black;
    width: min(100%, 900px);
    padding: 1rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.125);

    .titleBar {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin: 1rem;
        margin-bottom: 6rem;
        
        h1 {
            margin: 0;
            width: 100%;
            padding: 0 0.25rem;
            padding-left: 0;
        }

        a {
            cursor: pointer;
            color:rgba(0, 0, 0, 0.5);
            text-transform: uppercase;
            margin: 0;
            transition: 0s all;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .files {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: flex-start;

        .create {
            margin: 1rem;
            height: 250px;
            width: 200px;
            border: 1px solid black;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            img {
                user-select: none;
                -webkit-user-select: none;
            }
            
            &:hover {
                background-color: rgba(0, 0, 0, 0.125);
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
            }
        }

        .file {
            margin: 1rem;
            border: 1px solid black;
            height: 250px;
            width: 200px;

            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;

            .fileInfo {
                display: flex;
                flex-direction: column;
                height: min-content;
                align-items: flex-start;
                padding: 0.5rem;

                p {
                    margin: 0;
                    font-size: 0.7rem;
                }
            }

            .fileOperations {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                padding: 0.5rem;

                a {
                    height: 35px;
                    width: 35px;
                    cursor: pointer;
                    
                    &:hover {
                        background-color: rgba(0, 0, 0, 0.125);
                    }
                }

                img {
                    height: 35px;
                    border: 1px solid black;
                    padding: 0.025rem;
                }
            }

            &:hover {
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
            }
        }
    }
}